<!DOCTYPE html>
<html>
  <head>
    <title>yasc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:locale" content="en_US">
    <meta name="description" content="Yet Another Slack Clone -- a humble, pixel-perfect clone of the popular messaging application, Slack">
    <meta property="og:description" content="Yet Another Slack Clone -- a humble, pixel-perfect clone of the popular messaging application, Slack">
    <meta property="og:image" content="<%= image_url 'acme.png' %>">
    <meta property="og:title" content="YASC">
    <meta property="og:url" content="https://yasc.jorgebarreto.dev">


    <%= favicon_link_tag 'slack.svg' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
